@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

body{
    margin: 0%;
    padding: 0%;
    background: #FFE1AD;
    ;
}

.navbar{
    /* position: sticky; */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFE1AD;
}

.nav-inner{
    display: flex;
    align-items: center;
}

.logo img{
    align-items: center;
    width: 130px;
    padding-left: 2vw;
}

.line{
    position: absolute;
    width: 90%;
    height: 2px;
    background-color: #6B5048;
    left: 3%;
}

.searchbox i{
    position: absolute;
    margin-left: 11px;
    margin-top: 3px;
}

.searchbox .d-flex{
    position: absolute;
    width: 50%;
    left: 15%;
    margin-top: 4vh;
}

.searchbox .form-control{
    padding-left: 2.5rem;
    border-radius: 20px;
    border-color: #6B5048;
    width: 40%;
}

.searchbox form{
    margin-left: 350px;
}

.logo-right{
    display: inline-block;
    position: absolute;
    right: 100px;
}

.logo-right img{
    width: 25px;
}

.tr1{
    position: absolute;
    background-color: #FFF7E4;
    width: 70%;
    height: 40%;
    border-radius: 20px;
    top: 30vh;
    left: 15vw;
    font-family: 'Open Sans', sans-serif;
}

.tr1 h2{
    color: #6B5048;
    margin-left: 4vw;
}

.tr1 p{
    margin-left: 4vw;
}

.tr1 pre{
    font-family: 'Open Sans', sans-serif;
    margin-left: 0.5vw;
}

.tr1 h5{
    font-family: 'Open Sans', sans-serif;
    margin-left: 4vw;
}

.tr2{
    position: absolute;
    background-color: #FFF7E4;
    width: 70%;
    height: 40%;
    border-radius: 20px;
    top: 80vh;
    left: 15vw;
    font-family: 'Open Sans', sans-serif;
}

.tr2 h2{
    color: #6B5048;
    margin-left: 4vw;
}

.tr2 p{
    margin-left: 4vw;
}

.tr2 pre{
    font-family: 'Open Sans', sans-serif;
    margin-left: 0.5vw;
}

.tr2 h5{
    font-family: 'Open Sans', sans-serif;
    margin-left: 4vw;
}

.tr3{
    position: absolute;
    background-color: #FFF7E4;
    width: 70%;
    height: 40%;
    border-radius: 20px;
    top: 130vh;
    left: 15vw;
    font-family: 'Open Sans', sans-serif;
}

.tr3 h2{
    color: #6B5048;
    margin-left: 4vw;
}

.tr3 p{
    margin-left: 4vw;
}

.tr3 pre{
    font-family: 'Open Sans', sans-serif;
    margin-left: 0.5vw;
}

.tr3 h5{
    font-family: 'Open Sans', sans-serif;
    margin-left: 4vw;
}